body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.commentLv1 {
	margin-left: 40px;
}

.commentLv2 {
	margin-left: 80px;
}

.commentLv3 {
	margin-left: 120px;
}

.comment {
	margin-bottom: 20px;
	border: solid;
	border-color: #2965a8;
	border-width: 2px;
	padding: 10px;
}

.replyLink {
	font-size: 0.85em;
}

.replyLink:hover {
	text-decoration: none;
}

.reply-form {
	display: none;
}

.date {
	color: grey;
}